.myCartMainDiv {
    margin-top: 6%;
    /* border: 1px solid rgb(233, 232, 232); */
    /* display: flex; */
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
  }

  .myCartNameDiv{
    text-align: center;
    font-size: 200%;
    padding-bottom:4px ;    
    /* border: 1px solid blue; */
    width: 100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: #fff;
    
}

.myCartContentDiv{
    margin-top: 2%;
    display: flex;
    text-align: center;
    font-size: 200%;
    padding-bottom:4px ;
    /* border: 1px solid blue; */
    width: 100%;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
    /* background-color: #fff; */

}

.myCartProductDiv{
    /* border: 1px solid red; */
    width: 80%;
    /* background-color: #fff; */
    margin-right: 4px;

}

.myCartProductDescription{

    display: flex;
    /* border:1px solid green; */
    
    /* margin-top: 1.1%; */
    padding-top:1%;
    background-color: #fff;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
    font-size: 120%;
    padding-bottom: 1%;
    margin-bottom: 3px;
    
    

}

.myCartProduct{
    font-size: 55%;
    /* flex: 2; */
    /* margin-top: 10px; */
    
}

.myCartProductProducts{
    font-size:45% ;
    /* flex: 1; */
    /* border: 1px solid green; */
    width:40%;
}
.myCartProductQuantity{
    font-size:45% ;
    /* flex: 1; */
    /* border: 1px solid green; */
    width: 37%;
}
.myCartProductPrice{
    font-size:45% ;
    /* flex: 1; */
    /* border: 1px solid green; */
    width: 23%;
    /* margin-right: 30px; */
    padding-right: 5%;
}

.myCartContentDisplay {
    margin-top: 0px;
    height: 140px;   
    width: 100%;
    /* border: 1px solid red; */
  
    /* padding: 3px; */
    background-color: #fff;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
    display: flex;
    flex-direction: row;
    /* justify-content:space-around; */
    cursor: pointer;
    font-size:50% ;
    margin-bottom: 3px;
  }

  .myCartNameDiv{
    text-align: center;
    font-size: 200%;
    padding-bottom:4px ;
    /* border: 1px solid blue; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
    background-color: #fff;
    /* margin-top: 50%; */
    
}

.myCartPhotoDiv {
    display: inline-block;
  height: 100%;
  /* border: 1px solid black; */
  /* flex:1; */
  background-repeat: no-repeat; 
  background-position: center center;
  background-size: cover;
  padding: 15px;
  object-fit: contain   ;
}

.myCartImageDiv{
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
}

.myCartProductDiv {
  height: 100%;
  /* border: 1px solid black; */
  flex:1;
  text-align: center;
}

.myCartPriceDiv {
  height: fit-content;
  /* border: 1px solid black; */
  flex:1;
  text-align: center;
  margin-top: 6%;
}
.myCartStatusDiv {
  /* padding-left: 5%; */
  display: flex;
  height: fit-content;
  /* border: 1px solid black; */
  flex:1;
  text-align: center;
  /* border-radius: 50%; */
}

.quantityDiv{
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 24%;
    /* background-color: #f4f4f5; */
    
}

.quantityPlus{
    /* border:1px solid rgb(201, 201, 201); */
    width:120%;
    border-right: 0px;
    /* border-radius: 50%; */
}

.quantityminus{
    /* border:1px solid rgb(201, 201, 201); */
    border-left: 0px;
    width:120%;
}





.myCartSummaryDiv{
/* border: 1px solid green; */
width:30%;
/* height: 300px; */
}

.myCartSummaryName{
        text-align: left;
        font-size: 90%;
        background-color: #fff;
        padding-left: 6px;
}

.myCartSummaryDetails{
        background-color: #fff;
        margin-top: 1.5px;
        text-align:left;
        padding-left:6px;
        padding-top:8px;
        padding-bottom:6px;

}
.myCartSummaryTotal{
        background-color: #fff;
        margin-top: 1.5px;
        text-align:left;
        padding-left:6px;
        padding-top:20px;
        padding-bottom:6px;

}

.myCartSummaryDetails p{
    /* padding: 10px; */
    font-size: 50%;
}
.myCartSummaryDetails h6{
    font-size: 50%;
}
.myCartSummaryDetails h6:hover{
    
    color: blue;
    cursor: pointer;
}
.myCartSummaryTotal p{
    font-size: 50%;
}
.myCartCheckOut{
    background-color: #008000;
    margin-top: 3px;
    /* height: 50px; */
    font-size: 60%;
    color: white;
    cursor: pointer;
    align-items: center;
    text-align: center;
}

.myCartCheckOut :hover{
    background-color: #1cc21c;

}

.moneySpan{
    margin-left: 30%;
}
.moneySpanTotal{
    margin-left: 32%;
}
/* .myCartContentDisplay {
    margin-top: 10px;
    height: 140px;
    width: 100%;
    /* /* /* border: 1px solid red;   
  
    background-color: #fff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    cursor: pointer;
  } */