@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.poppins{
    font-family:'poppins';
}

.profileMainDiv{
    margin-top: 6%;
    /* border: 3px solid red; */
    display:flex;
    margin-left: 10%;
    margin-right: 10%;
    
}


.contentDiv{
    height: 20%;
    width: 25%;
    /* border: 1px solid black; */
    background-color: #fff;

    
}

.contentPhoto{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    height: 20%;
    width: 100%;
    /* border: 1px solid blue; */
align-items: center;
padding: 5%;
border-radius: 3px;
/* padding-left: 30%; */
}

.photoDiv {
    display: inline-block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color:#008000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
     /* border :1px solid red */
    
    
  }

.photoImageDiv{
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

.contentDetails{
    margin-top: 6px;
    height: 20%;
    width: 100%;
    /* border: 1px solid green; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    
}

.contentDisplay{
    height: 20%;
    width: 74%;
    /* border: 1px solid purple; */
    margin-left: 1.5%;
    /* padding: 3px; */
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}


.myordersDiv{
    display: flex;
padding:3%;
font-size:1.3rem;
}
.paymentsDiv{
    display: flex;
    padding:3%;
    font-size:1.3rem;

}
.mystuffDiv{
    display: flex;
    padding:3%;
    font-size:1.3rem;

}
.logoutDiv{
    display: flex;
    padding:3%;
    font-size:1.3rem;

}

.showButton{
    display: block;
}

.noShowButton{
    display: none;
}

.nameDiv{
    height:45px;
    margin-top: 25px;  
    /* border:2px solid red */
}
.inputNameDiv{
    height: 100%;
    width: 40%;
    border-radius: 50px;
    border: 0.5px solid rgb(198, 198, 198);
    padding: 2%;
    /* color: rgb(190, 190, 190); */
}

.perButtonDiv{
    background-color: #008000;
    color:#fff;
    border:1px solid #008000;
    border-radius:3px ;
}

.perButtonDiv:hover {
    background-color: #02c002;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    border: 1px solid #02c002;
    color: white;
  }
  
  .perButtonDiv:active {
    background-color: #02c002;
    color:white
  }

  .perButtonDivPhone{
    margin-top: 3.5%;
  }

  ::placeholder{
    color: rgb(190,190,190);
  }

  .myOrderDivHover{
    cursor: pointer;
    margin-left: 10%;
    font-size: 75%;
    color: #2F2504;
  }

.myOrderDivHover:hover{
    color:blue;
}