@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


.filterMainDiv{
    display: flex;
    /* margin-left:35%; */
    /* margin-right: 35%; */
    border:0.01em solid rgb(199, 198, 198);
    border-width: thin;
    margin-top: 5.5%;
    height: 25%;
    width: 18%;
    flex-direction: column;
    margin-left: 16.5px;
    background-color: #fff;
    position:relative;
    
}

.inputRadio{
    /* margin-top: 10%; */
    /* float: left; */
    display: inline-block;
    accent-color: #008000;
}

label{
    /* margin-bottom: 10px; */
    
    margin-left: 2%;
    font-family: "Poppins", sans-serif;
    font-size: 0.75rem;
    font-weight: 50;
}

.filterSymbol{
    margin-top: 1.2%;
    margin-left: 2px;
    margin-right: 1.2%;
    color: #008000;
    background-color: white;
    border:1px solid white;
    font-size: 20px;
}

.filterName{
    /* font-size:2rem ; */
    padding-left: 2%;
    /* border-bottom: 1px solid rgb(199, 198, 198); */
}

.clearFilters{
    margin-left: 45%;
    margin-top: 2.7%;
    font-size: 0.6rem;
}

.clearFilters:hover{
    cursor: pointer;
    color: #008000;
}

.category{
    font-weight: 500;
    /* border-bottom:0.01em solid rgb(199, 198, 198); */
    border-width: thin;
    display:flex;
    padding:5%;
}
/*
.categoryName::before{
    content: '';
    position:absolute;
    width: 10px;
    height: 10px;
    border: 2px solid #333;
    z-index:10000;
    right:20px;
    top:15px;
    border-top: 2px solid white;
    border-right: 2px solid white;

}
*/

.products{
    /* position: fixed; */
    border-bottom:0.01em solid rgb(199, 198, 198);
    display: block;
    padding:5%;
}
.productsNone{
    border-bottom:0.01em solid rgb(199, 198, 198);
    display: none;
    padding:5%;
}


.divArrowCategory{
    margin: 7px;
    margin-left: 54%;
    height: 10px;
    width: 10px;
    border: 2px solid #333;
    /* z-index:10000; */
    border-top:2px solid #fff;
    border-right:2px solid #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    /* pointer-events:none; */
    cursor: pointer;
}

.setDivArrowCategory{
    margin: 7px;
    margin-left: 54%;
    height: 10px;
    width:10px;
    /* z-index:10000; */
    border: 2px solid #333;
    border-top:2px solid #fff;
    border-right:2px solid #fff;
    transform: rotate(-225deg);
    transition: 0.5s;
    /* pointer-events:none; */
    cursor: pointer;
}
.divArrowBrand{
    margin: 7px;
    margin-left: 66%;
    height: 10px;
    width: 10px;
    border: 2px solid #333;
    /* z-index:10000; */
    border-top:2px solid #fff;
    border-right:2px solid #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    /* pointer-events:none; */
    cursor: pointer;
}

.setDivArrowBrand{
    margin: 7px;
    margin-left: 66%;
    height: 10px;
    width:10px;
    /* z-index:10000; */
    border: 2px solid #333;
    border-top:2px solid #fff;
    border-right:2px solid #fff;
    transform: rotate(-225deg);
    transition: 0.5s;
    /* pointer-events:none; */
    cursor: pointer;
}
.divArrowPrice{
    margin: 7px;
    margin-left: 70%;
    height: 10px;
    width: 10px;
    border: 2px solid #333;
    /* z-index:10000; */
    border-top:2px solid #fff;
    border-right:2px solid #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    /* pointer-events:none; */
    cursor: pointer;
}

.setDivArrowPrice{
    margin: 7px;
    margin-left: 70%;
    height: 10px;
    width:10px;
    /* z-index:10000; */
    border: 2px solid #333;
    border-top:2px solid #fff;
    border-right:2px solid #fff;
    transform: rotate(-225deg);
    transition: 0.5s;
    /* pointer-events:none; */
    cursor: pointer;
}
.divArrowRating{
    margin: 7px;
    margin-left: 65%;
    height: 10px;
    width: 10px;
    border: 2px solid #333;
    /* z-index:10000; */
    border-top:2px solid #fff;
    border-right:2px solid #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    /* pointer-events:none; */
    cursor: pointer;
}

.setDivArrowRating{
    margin: 7px;
    margin-left: 65%;
    height: 10px;
    width:10px;
    /* z-index:10000; */
    border: 2px solid #333;
    border-top:2px solid #fff;
    border-right:2px solid #fff;
    transform: rotate(-225deg);
    transition: 0.5s;
    /* pointer-events:none; */
    cursor: pointer;
}


.divArrowAvailability{
    margin: 7px;
    margin-left: 46%;
    height: 10px;
    width: 10px;
    border: 2px solid #333;
    /* z-index:10000; */
    border-top:2px solid #fff;
    border-right:2px solid #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    /* pointer-events:none; */
    cursor: pointer;
}

.setDivArrowAvailability{
    margin: 7px;
    margin-left: 46%;
    height: 10px;
    width:10px;
    /* z-index:10000; */
    border: 2px solid #333;
    border-top:2px solid #fff;
    border-right:2px solid #fff;
    transform: rotate(-225deg);
    transition: 0.5s;
    /* pointer-events:none; */
    cursor: pointer;
}