@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.forgotMainDiv {
  background-color: white;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 3%;
  width: 30%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 36%;
  height: fit-content;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
  rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.forgotName {
  font-family: "Poppins", sans-serif;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  padding-bottom: 8%;
  width: 100%;
  font-size: 24px;
  padding-left: 21%;
}

.forgotButton {
  border: 1px solid #008000;
  background: #008000;
  color: #fff;
  border-radius: 5px;
  margin-top: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 31%;
  padding-right: 30.5%;
}

.forgotButton:hover {
  border: 1px solid #02c002;
  background-color: #02c002;
}

.goLoginDiv{
    display: flex;
    color: blue;
    cursor: pointer;
}

.goLoginDiv:hover{
    color:rgb(119, 119, 254);
}

.inputField{
    border: 1px solid #cfd3d6;
    margin: 11px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    width: 100%;
}



.inputField input{
    width: 100%;
    background:transparent;
    border: none;
    outline: none;
    padding: 12px  15px;
}

.inputField span{
    margin-left: 15px;
    color: #999;
}