@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.loginMainDiv{
    background-color: white;
    padding: 50px 50px;
    /* width: 50%; */
    width:28%;
    /* border:1px solid red; */
    margin-top: 2%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 36%;
    /* margin-right: 20%; */
    height: fit-content;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    /* border:1px solid red; */
}

.loginName{
    /* border:1px solid red; */
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid black;
    height: fit-content;
    width: fit-content;
    align-items: center; */
    align-items: center;
    background-color: #fff;
    /* border: 1px solid #cfd3d6; */
    border-radius: 5px;
    box-shadow: 0 6px 25px -25px #000;
    cursor: pointer;
    display: flex;
    /* padding: x; */
    padding-bottom:8% ;
    width: 100%;
    font-size: 24px;
    /* font-weight: 600; */
    /* margin-left: 35%; */
    padding-left: 35%;
    
}
.googleName{
    padding-left: 5%;
    padding-top: 3%;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    background-color: #fff;
    border: 1px solid #cfd3d6;
    border-radius: 5px;
    box-shadow: 0 6px 25px -25px #000;
    cursor: pointer;
    display: flex;
    padding-bottom:3% ;
    width: 100%;
    font-size: 20px;   
}
.facebookName{
    margin-top: 4%;
    padding-left: 5%;
    padding-top: 3%;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    background-color: #fff;
    border: 1px solid #cfd3d6;
    border-radius: 5px;
    box-shadow: 0 6px 25px -25px #000;
    cursor: pointer;
    display: flex;
    padding-bottom:3% ;
    width: 100%;
    font-size: 20px; 
}

.orLine{
    margin-top: 4.2%;
    height: 0;
    width:50%;
    border-top:0.01rem solid rgb(186, 186, 186)
}

.emailDiv{
    margin-top:3% ;
    align-items: center;
    background-color: #fff;
    border: 1px solid #cfd3d6;
    border-radius: 5px;
    box-shadow: 0 6px 25px -25px #000;
    display: flex;
    padding: 10px;
    width: 100%;
}

.passwordDiv{
    margin-top:4% ;
    align-items: center;
    background-color: #fff;
    border: 1px solid #cfd3d6;
    border-radius: 5px;
    box-shadow: 0 6px 25px -25px #000;
    display: flex;
    padding: 10px;
    width: 100%;
}

.loginButton{
    border: 1px solid #008000;
    background: #008000;
    color: #fff;
    border-radius: 5px;
    padding-top:3%;    
    padding-bottom: 3%; 
    padding-left: 42%;   
    padding-right: 44%;   
}

.loginButton:hover{
    border: 1px solid #02c002;
    background-color: #02c002;
}

.loginPolicy{
    margin-top: 5%;
    font-size: 70%;
    cursor: pointer;
    color:gray;
    position: relative;
    text-decoration: none;   
}

.forgotDiv {
    margin-top: 5%;
    font-size: 70%;
    cursor: pointer;
    color:blue;
    position: relative;
    text-decoration: none;
  }
  
  .forgotDiv::before {
    content: '';
    position: absolute;
    width: 43%;
    height: 1px;
    border-radius: 1px;
    background-color: blue;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
  }
  
  .forgotDiv:hover::before {
    /* cursor: pointer; */
    transform-origin: left;
    transform: scaleX(1);
  }

  
.createDiv {
    margin-top: 3%;
    font-size: 70%;
    cursor: pointer;
    color:blue;
    position: relative;
    text-decoration: none;
  }
  
  .createDiv::before {
    content: '';
    position: absolute;
    width: 35%;
    height: 1px;
    border-radius: 1px;
    background-color: blue;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
  }
  
  .createDiv:hover::before {
    /* cursor: pointer; */
    transform-origin: left;
    transform: scaleX(1);
  }

  .inputField{
    border: 1px solid #cfd3d6;
    margin: 11px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    width: 100%;
}



.inputField input{
    width: 100%;
    background:transparent;
    border: none;
    outline: none;
    padding: 12px  15px;
}

.inputField span{
    margin-left: 15px;
    color: #999;
}
  